--- 
title: Bookmarks 
layout: default 
description: Every little bit helps 
header-img: "img/bookmarks-bg.jpg" 
---
<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>bookmarks</title>
  <link rel=stylesheet type=text/css href=./static/css/reset.css>
  <link href=./static/css/app.f61c34344f98f115e19017e238f915f3.css rel=stylesheet>
</head>

<body>
  <!-- Page Header -->
  <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading" id="tag-heading">
            <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
            <span class="subheading">{{ page.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id=app></div>
  <script type=text/javascript src=./static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
  <script type=text/javascript src=./static/js/vendor.a5b2fe4abf832285d2bb.js></script>
  <script type=text/javascript src=./static/js/app.a152015ba99032ff2794.js></script>
</body>

</html>